ui = true
disable_mlock = true

storage "file" {
  path = "{{ vault_storage_path }}"
}

listener "tcp" {
  address = "{{ vault_listener_address }}"
{% if vault_tls_disable %}
  tls_disable = 1
{% else %}
  tls_cert_file = "{{ vault_tls_cert_file }}"
  tls_key_file  = "{{ vault_tls_key_file }}"
{% endif %}
}
